<web-app>
<servlet>
<servlet-name>ac</servlet-name>
<servlet-class>ac</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ac</servlet-name>
<url-pattern>/ac</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>sa</servlet-name>
<servlet-class>sa</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sa</servlet-name>
<url-pattern>/sa</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>ac1</servlet-name>
<servlet-class>ac1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ac1</servlet-name>
<url-pattern>/ac1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addconf</servlet-name>
<servlet-class>addconf</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addconf</servlet-name>
<url-pattern>/addconf</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>addtohost</servlet-name>
<servlet-class>addtohost</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addtohost</servlet-name>
<url-pattern>/addtohost</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientlist</servlet-name>
<servlet-class>clientlist</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>clientlist</servlet-name>
<url-pattern>/clientlist</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>clientserlogin13</servlet-name>
<servlet-class>clientserlogin13</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>clientserlogin13</servlet-name>
<url-pattern>/clientserlogin13</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ss</servlet-name>
<servlet-class>ss</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ss</servlet-name>
<url-pattern>/ss</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>su</servlet-name>
<servlet-class>su</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>su</servlet-name>
<url-pattern>/su</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>sserverlogin</servlet-name>
<servlet-class>sserverlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sserverlogin</servlet-name>
<url-pattern>/sserverlogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>suserlist</servlet-name>
<servlet-class>suserlist</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>suserlist</servlet-name>
<url-pattern>/suserlist</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>sadduser</servlet-name>
<servlet-class>sadduser</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sadduser</servlet-name>
<url-pattern>/sadduser</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>conferencescreen2</servlet-name>
<servlet-class>conferencescreen2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>conferencescreen2</servlet-name>
<url-pattern>/conferencescreen2</url-pattern>
</servlet-mapping>
</web-app>
